<div class="product-page">
    <div class="product-info">
        <div class="product-img-slider">img</div>
        <div class="product-text">
            <div class="product-title">Product-Title</div>
            <div class="product-review-info">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="star" viewBox="0 0 200 200">
                      <!-- <path>s and whatever other shapes in here -->  
                    </symbol>
                  </svg>
            </div>
        </div>
    </div>
</div>
